.image-test {
     padding: 10px;
     margin: 0 auto;
}
.image-container {
     display: flex;
     justify-content: center;
     margin-bottom: 40px;
}

.question-text {
     font-size: 20px;
}

.answers {
     margin: 20px 0;
     .answer {
          margin: 5px 0;
     }
}
